@tailwind base;
@tailwind components;
@tailwind utilities;

@import "custom-fonts.css";

body {
  background-color: rgba(0, 0, 0, 0.06);
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "DM Sans",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
